* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:lightgrey;
}


/* header properties */

.header.container {
    background-color: white;
    padding: 20px 0 0 20px;
}

header .header.container h1 {
    display: inline-block;
    vertical-align: 30%;
    font-size: 50px;
    font-family: sans-serif;   
}

/* / header properties */


.main.container {
    width: 1000px;
    height: 750px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
}
