* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:lightgrey;
}


/* header properties */

.header.container {
    background-color: white;
    padding: 20px 0 0 20px;
}

header .header.container h1 {
    display: inline-block;
    vertical-align: 30%;
    font-size: 50px;
    font-family: sans-serif;   
}

/* / header properties */


.main.container {
    width: 1000px;
    height: 750px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
}

main .position {
    padding: 20px 0 10px 50px;;
}


/* two buttons properties */

.button {
    display: inline-block;
    padding: 8px;
    border-radius: 8%;
    font-family: sans-serif;
}

.button.whitetext {
    color: white;
    background-color: #08B3D0;
}

.button.greytext {
    color: grey;
    background-color: white;
    border: 1px solid grey;
    margin-left: 5px;
}

#hr {
    border-bottom: 1px solid lightgrey;
}

/* / two buttons properties */

/* new task properties */

section .position h2, p {
    font-family: sans-serif;
}

.checkmark{
    color:green;
    border: 2px solid green;
    border-radius: 50%;
  }

  .editorial {
      background-color: #08B3D0;
      padding: 5px 5px 5px 5px;
      border-radius: 35%;
      font-family: sans-serif;
      color: white;
  }

  section .position .newtask {
      margin-top: 20px;
  }

  /* / new task properties */

  /* today */
  
  .row {
    font-family: sans-serif;
    margin: 20px 0 0 0;
  }

  .xmark {
    color: red;
    border: 2px solid red;
    border-radius: 50%;
  }

  .q1goals {
    background-color: violet;
    padding: 5px 5px 5px 5px;
    border-radius: 35%;
    font-family: sans-serif;
    color: white;
  }

  .recruiting {
    background-color: #147586;
    padding: 5px 5px 5px 5px;
    border-radius: 35%;
    font-family: sans-serif;
    color: white;
  }

  .mobile {
    background-color: #d05108;
    padding: 5px 5px 5px 5px;
    border-radius: 35%;
    font-family: sans-serif;
    color: white;
  }

  /* / today */
